@font-face {
  font-family: 'Inter';
  src: local('Inter Regular'), url("fonts/Inter-Regular.otf") format('truetype');
}

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --percent: 30
}